:root {
  --black1: #000000;
  --gray1: #292A2D;
  --gray2: #4D5057;
  --gray3: #3B3D43;
  --gray4: #5B5E67;
  --blue1: #3764B4;
  --white1: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  background-color: var(--gray1);
  max-width: 24.375rem;
  width: 100vw;
  margin-top: 2.75rem;
  border-radius: 1.5rem 1.5rem 0 0;
  padding-top: 2.1875rem;
  flex-grow: 1;
  overflow-x: hidden;
  position: relative;
}

/* Home page */
.inputContainer, .outputContainer {
  width: 100%;
}

.input, .output {
  text-align: end;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.input {
  color: var(--gray4);
  font-size: 2.25rem;
  height: 4rem;
  margin-right: 1.5rem;
}

.output {
  color: var(--white1);
  font-size: 5.75rem;
  height: 8.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}

#button1,
#button2,
#button3 {
  background-color: var(--gray4);
}

#button5,
#button6,
#button7,
#button9,
#button10,
#button11,
#button13,
#button14,
#button15,
#button17,
#button18,
#button19 {
  background-color: var(--gray3);
}

#button4,
#button8,
#button12,
#button16,
#button20 {
  background-color: var(--blue1);
}

#button1 { grid-area: button1; }
#button2 { grid-area: button2; }
#button3 { grid-area: button3; }
#button4 { grid-area: button4; }
#button5 { grid-area: button5; }
#button6 { grid-area: button6; }
#button7 { grid-area: button7; }
#button8 { grid-area: button8; }
#button9 { grid-area: button9; }
#button10 { grid-area: button10; }
#button11 { grid-area: button11; }
#button12 { grid-area: button12; }
#button13 { grid-area: button13; }
#button14 { grid-area: button14; }
#button15 { grid-area: button15; }
#button16 { grid-area: button16; }
#button17 { grid-area: button17; }
#button18 { grid-area: button18; }
#button19 { grid-area: button19; }

.button-container {
  display: grid;
  gap: 0.125rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  'button1 button2 button3 button4'
  'button5 button6 button7 button8'
  'button9 button10 button11 button12'
  'button13 button14 button15 button16'
  'button17 button18 button19 button20';
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  margin-bottom: 1rem;
}

.button-container button {
  height: 5.875rem;
  border-radius: 1rem;
  padding: unset;
  font-size: 3rem;
}

/* History page */
.history-title {
  font-size: 1.5rem;
  line-height: 0.75rem;
  margin-bottom: 1.875rem;
}

.empty-view {
  background-color: var(--gray3);
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  height: 10.25rem;
  border-radius: 1rem;
  padding-top: 3rem;
}

.empty-view div {
  font-size: 1.375rem;
}

.trash {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.entries-container {
  background-color: var(--gray2);
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.entry-container {
  width: 100%;
  overflow-x: hidden;
}

.entry-container:not(:last-child) {
  border-bottom: 2px solid var(--gray3);
  padding-bottom: 1.25rem;
}

.entry-container:not(:first-child) {
  padding-top: 1.25rem;
}

.entry-container div {
  font-size: 1.25rem;
  text-align: start;
  margin-left: 1.5rem;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
}

/* Modal */
.modal-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--gray2);
  z-index: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  height: 10rem;
  border-radius: 0.5rem;
}

.modal-text {
  text-align: start;
  font-size: 1.4rem;
}

.modal-options {
    text-align: right;
}

.modal-options span {
  color: var(--blue1);
  font-size: 1.1rem;
}

.modal-options span:nth-child(2) {
  margin-left: 1.5rem;
}
