#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

:root {
  --black1: #000000;
  --gray1: #292A2D;
  --gray2: #4D5057;
  --gray3: #3B3D43;
  --gray4: #5B5E67;
  --blue1: #3764B4;
  --white1: #FFFFFF;
}

.app {
  background-color: var(--gray1);
  max-width: 24.375rem;
  width: 100vw;
  margin: 2.75rem auto auto auto;
  border-radius: 1.5rem 1.5rem 0 0;
  padding-top: 2.1875rem;
  overflow: hidden;
  flex-grow: 1;
}

.input {
  color: var(--gray4);
  text-align: end;
  font-size: 2.25rem;
  height: 4rem;
  margin-right: 1.5rem;
  white-space: nowrap;
}

.output {
  color: var(--white1);
  text-align: end;
  font-size: 5.75rem;
  height: 8.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

#button1,
#button2,
#button3 {
  background-color: var(--gray4);
}

#button5,
#button6,
#button7,
#button9,
#button10,
#button11,
#button13,
#button14,
#button15,
#button17,
#button18,
#button19 {
  background-color: var(--gray3);
}

#button4,
#button8,
#button12,
#button16,
#button20 {
  background-color: var(--blue1);
}

#button1 { grid-area: button1; }
#button2 { grid-area: button2; }
#button3 { grid-area: button3; }
#button4 { grid-area: button4; }
#button5 { grid-area: button5; }
#button6 { grid-area: button6; }
#button7 { grid-area: button7; }
#button8 { grid-area: button8; }
#button9 { grid-area: button9; }
#button10 { grid-area: button10; }
#button11 { grid-area: button11; }
#button12 { grid-area: button12; }
#button13 { grid-area: button13; }
#button14 { grid-area: button14; }
#button15 { grid-area: button15; }
#button16 { grid-area: button16; }
#button17 { grid-area: button17; }
#button18 { grid-area: button18; }
#button19 { grid-area: button19; }

.button-container {
  display: grid;
  gap: 0.125rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  'button1 button2 button3 button4'
  'button5 button6 button7 button8'
  'button9 button10 button11 button12'
  'button13 button14 button15 button16'
  'button17 button18 button19 button20';
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.button-container button {
  height: 5.875rem;
  border-radius: 1rem;
  padding: unset;
  font-size: 3rem;
}
